.form-check {
    padding-top: 29px;
}

.invalid-tooltip {
    position: absolute;
    top: 56px;
    padding: .3rem;
}

.no-group {
    margin-bottom: 0;
}

.input-align-right {
    text-align: right;
}